<div class="row">
    <div class="col-md-12">


        <div class="modal fade" id="modal-container-424964" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form method="post" action="/create_article">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title w-100">
                                Create article
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="col-md-12">
                                <div class="row py-1">
                                    <div class="col-md-2">
                                        <label>Title</label>
                                    </div>
                                    <div class="col-md-10">
                                        <!-- <textarea name="" id="" cols="40" rows="1"></textarea> -->
                                        <input type="text" name="articleTitle" class="w-100">
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <div class="col-md-2">
                                        <label>Content</label>
                                    </div>
                                    <div class="col-md-10">
                                        <textarea name="articleContent" id="" cols="42" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-primary">
                                Create
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                </form>
            </div>

        </div>

    </div>

</div>
</div>