{{template "header.html"}}

<div class="row py-5 border-info">
    {{range .payload}}
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <h3>
            {{.Title}}
        </h3>
    </div>
    <div class="col-md-6">
        <p>
            {{if ge (len .Content)  180}}
                {{slice .Content 0 180}}...
            {{end }}
            {{if lt (len .Content) 180}}
                {{.Content}}
            {{end}}
        </p>
    </div>
    <div class="col-md-2">
         
    </button> <a href="/article/view/{{.ID}}" class="btn btn-secondary" type="button">Learn more</a>
    </div>
    <div class="col-md-1">
    </div>
    {{end}}
</div>

{{template "footer.html"}}